In [2]:
import re
import string

import pandas as pd

In [3]:
tmp = pd.read_excel("raw_data/Areas_in_blore.xlsx")
tmp.to_csv('raw_data/Areas_in_blore.csv')

# Lab Cleaning Process

## Normal cleaning

In [4]:
df = pd.read_csv("raw_data/data_file_20210527182730.csv")
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 966348799,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato/bangalore/addhuri-udupi-bho...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 990121000,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [5]:
df['address'] = df['address'].str.replace(r'['+ string.punctuation + ']'," ",)
df['reviews_list'] = df['reviews_list'].str.replace(r'['+ string.punctuation + ']'," ") # A small problem on the initial, but with more regex, can be fixed (I think :) )

/tmp/ipykernel_2211180/1931422542.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['address'] = df['address'].str.replace(r'['+ string.punctuation + ']'," ",)
/tmp/ipykernel_2211180/1931422542.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['reviews_list'] = df['reviews_list'].str.replace(r'['+ string.punctuation + ']'," ") # A small problem on the initial, but with more regex, can be fixed (I think :) )

In [6]:
df['phone'] = df['phone'].str.replace(r'[+ ]',"")

/tmp/ipykernel_2211180/272737479.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['phone'] = df['phone'].str.replace(r'[+ ]',"")

In [7]:
df[['contact number 1','contact number 2']] = df['phone'].str.split("\r\n",expand=True).fillna("No info")

In [8]:
df.isnull().sum() # Has some nulls, but all depends

url                               0
address                           0
name                              0
online_order                      0
book_table                        0
rate                           1021
votes                             0
phone                            83
location                          1
rest_type                        32
dish_liked                     4077
cuisines                          8
approx_cost(for two people)      14
reviews_list                      0
menu_item                         0
listed_in(type)                   0
listed_in(city)                   0
contact number 1                  0
contact number 2                  0
dtype: int64

## Cities

**Acho que n√£o entendi essa jossa :'(**

In [5]:
df_areas = pd.read_csv('raw_data/Areas_in_blore.csv')
df_areas.head()

,Unnamed: 0,Area,Taluk,District,State,Pincode
0,0,A F Station Yelahanka,Bangalore North,Bangalore,KARNATAKA,560063
1,1,Agram,Bangalore South,Bangalore,KARNATAKA,560007
2,2,Air Force Hospital,Bangalore North,Bangalore,KARNATAKA,560007
3,3,Amruthahalli,Bangalore North,Bangalore,KARNATAKA,560092
4,4,Anandnagar Bangalore,Bangalore North,Bangalore,KARNATAKA,560024

In [15]:
df_areas['District'].drop_duplicates()

0    Bangalore
Name: District, dtype: object

In [12]:
df['location'].head()

0    Banashankari
1    Banashankari
2    Banashankari
3    Banashankari
4    Basavanagudi
Name: location, dtype: object

In [13]:
df['location'].drop_duplicates()

0                        Banashankari
4                        Basavanagudi
6                         Mysore Road
38                          Jayanagar
46                 Kumaraswamy Layout
                    ...
5736                Central Bangalore
6554                     Sanjay Nagar
6742                      Brookefield
6789       ITPL Main Road, Whitefield
6811    Varthur Main Road, Whitefield
Name: location, Length: 67, dtype: object

## Testing

In [31]:
null_columns = [ c for c in df.columns if df[c].isnull().any()]

In [32]:
null_columns

['rate',
 'phone',
 'location',
 'rest_type',
 'dish_liked',
 'cuisines',
 'approx_cost(for two people)']

In [34]:
df_output_bad = df[null_columns]
df_output_bad.head()

df_output_good = df[df.columns.difference(null_columns)]
df_output_good.head()

,address,book_table,contact number 1,contact number 2,listed_in(city),listed_in(type),menu_item,name,online_order,reviews_list,url,votes
0,942 21st Main Road 2nd Stage Banashankari ...,Yes,08042297555,919743772233,Banashankari,Buffet,[],Jalsa,Yes,Rated 4 0 RATED\n A beautiful place to ...,https://www.zomato.com/bangalore/jalsa-banasha...,775
1,2nd Floor 80 Feet Road Near Big Bazaar 6th ...,No,08041714161,No info,Banashankari,Buffet,[],Spice Elephant,Yes,Rated 4 0 RATED\n Had been here for din...,https://www.zomato.com/bangalore/spice-elephan...,787
2,1112 Next to KIMS Medical College 17th Cross...,No,91966348799,No info,Banashankari,Buffet,[],San Churro Cafe,Yes,Rated 3 0 RATED\n Ambience is not that ...,https://www.zomato.com/SanchurroBangalore?cont...,918
3,1st Floor Annakuteera 3rd Stage Banashankar...,No,919620009302,No info,Banashankari,Buffet,[],Addhuri Udupi Bhojana,No,Rated 4 0 RATED\n Great food and proper...,https://www.zomato/bangalore/addhuri-udupi-bho...,88
4,10 3rd Floor Lakshmi Associates Gandhi Baza...,No,918026612447,91990121000,Banashankari,Buffet,[],Grand Village,No,Rated 4 0 RATED\n Very good restaurant ...,https://www.zomato.com/bangalore/grand-village...,166